@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 100px 100px;
    background-color: #373030;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-weight: 400;
}

.title {
    font-size: 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.month-year,
.prev-next {
    display: flex;
    justify-content:flex-start;
    gap:20px;
    font-size:20px;
}

.prev-next button {
    text-transform: uppercase;
    background-color: #373030;
    color: #ffffff;
    border: none;
}

.date-month {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.weakends {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    text-transform: uppercase;
    background-color: #373030;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #ffffff;
}

table th, table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.calendar {
    color: #ffffff;
}

table td{
    color: white;
}

table td{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

table td:hover{
    background-color: #6c5ce7;
    cursor: pointer;
    transition: 0.3s;
}   

table th{
    color: white;
    text-align: center;
}

.today{
    background:#ff9800;
    color:white;
    font-weight:bold;
    border-radius:50%;
}

/* Styles for mobile phones (Default/Mobile-first approach) */
body {
  font-size: 14px;
}

/* Styles for tablets and small laptops */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Styles for large desktop screens */
@media (max-width: 886px) {
    .container {
        background-color: pink;
    } 
}